* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0984e3;
    height: 100vh;
}

.wrapper {
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
}

.task-input {
    position: relative;
}

.task-input input {
    width: 360px;
    height: 40px;
    padding: 20px 20px 20px 40px;
    outline: none;
    border: 1px solid #b2bec3;
    border-radius: 5px;
    font-size: 18px;
}

.task-input input::placeholder {
    font-size: 15px;
}

.task-input i {
    position: absolute;
    top: 6px;
    left: 3px;
    font-size: 29px;
    opacity: 0.8;
    color: #b2bec3;
}

.task-control {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0;
    /* border-bottom: 1px solid #b2bec3; */
}

.task-control span {
    margin-right: 20px;
    cursor: pointer;
    padding: 0 0 4px 0;
}

.task-control .clearAll {
    width: 80px;
    background-color: #273c75;
    color: #fff;
    font-size: 14px;
    border: 1px solid #636e72;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #b2bec3;
    position: relative;
}

.task label {
    display: flex;
    flex-grow: 1;
}

.task i {
    align-self: center;
    cursor: pointer;
}

.task p {
    padding: 0 7px;
    flex-grow: 1;
    word-break: break-all;
}

.task p.checked {
    text-decoration: line-through;
    opacity: 0.5;
}

.setting ul {
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s linear;
}

.setting ul.show {
    transform: scale(1);
}

.setting ul li {
    font-size: 14px;
    padding: 4px 7px;
    cursor: pointer;
    margin: 5px 0;
}

.setting ul li:hover {
    background-color: #ECF0F1;

}

.setting ul i {
    font-size: 13px;
    padding-right: 10px;
}

.task-text .edit-box {
    margin: 0 0 7px;
    width: 100%;
    position: relative;
    display: none;
}

.task-text .edit-box.editShow {
    display: block;
}

.task-text .edit-box input {
    width: 100%;
    height: 30px;
    outline: none;
    font-size: 14px;
}

.task-text .edit-box .okEdit {
    width: 40px;
    height: 30px;
    background-color: #16a085;
    color: #ecf0f1;
    position: absolute;
    border-radius: 7px 0 0 7px;
    right: 0;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    cursor: pointer;
}

.task-control .active-completed {
    color: #16a085;
    border-bottom: 1px solid #00b894;
}
.task-control .active-pending {
    color: #e17055;
    border-bottom: 1px solid #fab1a0;
}
.task-control .active-all {
    color: #0984e3;
    border-bottom: 1px solid #74b9ff;
}